<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="addr" value="net.tcp://localhost:8001/FileService"/>
	</appSettings>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="FileServiceBehavior" name="_0427_File_Server_.CFile">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="DuplexBinding"
				  contract="_0427_File_Server_.IFile" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:9001/GetFileService" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="DuplexBinding" maxBufferPoolSize="2147483647"
				  maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647">
					<reliableSession enabled="true" />
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="FileServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>